{% include base_path %}


<section class="skills-section section py-3">
  <div class="container">
    <div class="skills-blocks mx-auto pt-3">
      <div class="row">
        <div class="skills-block col-12 col-lg-8 mb-5 mb-3 mb-lg-0 bg-white shadow-sm">
				        <div class="skills-block-inner py-4 px-5 position-relative">
					        <h4 class="skills-cat text-left mb-3 mt-3"><span class="section-title font-weight-bold text-center mb-3">科研方向</span></h4>
					        <ul class="skills-list list-unstyled text-secondary">
						        <li class="mb-2"><i class="fas fa-check me-2 text-primary"></i>希格斯物理、CP破坏、电弱对称性破缺机制</li>
						        <li class="mb-2"><i class="fas fa-check me-2 text-primary"></i>（超轻）暗物质探测、引力波物理</li>							        
						        <li class="mb-2"><i class="fas fa-check me-2 text-primary"></i>基于散射振幅的有效场论方法</li>
				          </ul>
				        </div>
				        <!--//skills-block-inner-->
			        </div><!--//skills-block-->
			        
        <!--//skills-block-->
        <!--//skills-block-->
    <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
			      		 <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
						 <h4 class="skills-cat text-left mb-3 mt-3"><span class="section-title font-weight-bold text-center mb-3">联系方式</span></h4>
					        <ul class="skills-list list-unstyled text-secondary">

						         <li class="mb-2">邮箱: jshu@pku.edu.cn</li>
						        								 
						       <li class="mb-2"> <p>地址: 北京市海淀区成府路209号</p>
							   <p>邮编：100871</p></li>
					        </ul>
				        </div>
			      		 <!--//skills-block-inner-->
					
			        </div><!--//skills-block-->
        <!--//skills-block-->
      </div>
      <!--//row-->
    </div>
  </div>
  <!--//container-->
</section>
<!--//skills-section-->